nav {
    overflow: hidden;
    background-color: rgb(41, 38, 38);
    .navbarcustom {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 5px solid #fff;
    }
    a {
        text-decoration: none;
        padding: 20px 30px;
        font-size: 16px;
        font-weight: 1000;
        color: #fff;
    }
    .active {
        border-bottom: 4px solid blue;
    }
    a:hover {
        background-color: rgba(255, 255, 255, 0.089);
        color: #fff;
        border-radius: 2%;
    }
    
}