nav {
    overflow: hidden;
    background-color: rgb(41, 38, 38);
    .navbarcustom {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    a {
        text-decoration: none;
        padding: 20px 30px;
        font-size: 20px;
        font-weight: 1000;
        color: #fff;
    }
    a:hover {
        background-color: #fff;
        color: black;
        border-radius: 10px;
    }
}